// This file is added to the project inside vue.config.js
$circular-font:           'Circular', serif;
$mobile-breakpoint:       480px;
$tablet-breakpoint:       600px;
$big-tablet-breakpoint:   900px;
$desktop-breakpoint:      1200px;

$grid-breakpoints: (
  mobile:       $mobile-breakpoint,
  tablet:       $tablet-breakpoint,
  big-tablet:   $big-tablet-breakpoint,
  desktop:      $desktop-breakpoint,
);

:root {
  --gutters:                  20px;
  --color-black:              #000000;
  --color-white:              #ffffff;
  --color-red:                #FF5A5F;
  --color-dark-red:           #cc4d59;
}