// This file is added to the project inside vue.config.js
$circular-font:           'Circular', serif;
$mobile-breakpoint:       480px;
$tablet-breakpoint:       600px;
$big-tablet-breakpoint:   900px;
$desktop-breakpoint:      1200px;

$grid-breakpoints: (
  mobile:       $mobile-breakpoint,
  tablet:       $tablet-breakpoint,
  big-tablet:   $big-tablet-breakpoint,
  desktop:      $desktop-breakpoint,
);

:root {
  --mobile-breakpoint:        $mobile-breakpoint;
  --tablet-breakpoint:        $tablet-breakpoint;
  --big-tablet-breakpoint:    $big-tablet-breakpoint;
  --desktop-breakpoint:       $desktop-breakpoint;
  --color-black:              #000000;
  --gutters:                  20px;
}