@import './base.css';

html {
  font-family: $circular-font;
}

.Container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--gutters);

  @include breakpoint-up(mobile) {
    max-width: calc(440px + var(--gutters));
  }

  @include breakpoint-up(tablet) {
    max-width: calc(560px + var(--gutters));
  }

  @include breakpoint-up(big-tablet) {
    max-width: calc(800px + var(--gutters));
  }

  @include breakpoint-up(desktop) {
    max-width: calc(1120px + var(--gutters));
  }
}


h1 {
  font-size: 30px;

  @include breakpoint-up(tablet) {
    font-size: 35px;
  }
  @include breakpoint-up(big-tablet) {
    font-size: 40px;
  }
  @include breakpoint-up(desktop) {
    font-size: 48px;
  }
}

p {}